<!--<Label text="Transaction List"></Label>-->

<!--<StackLayout orientation="vertical" width="350px">-->
  <!--&lt;!&ndash;<StackLayout [ngFor]="let transaction of transactions" orientation="horizontal">&ndash;&gt;-->
    <!--&lt;!&ndash;<Label [text]="transaction.name"></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label [text]="transaction.amount"></Label>&ndash;&gt;-->
    <!--&lt;!&ndash;<Label [text]="transaction.tax"></Label>&ndash;&gt;-->
  <!--&lt;!&ndash;</StackLayout>&ndash;&gt;-->
<!--</StackLayout>-->
