StackLayout {
    width: 100%;
    height: 100%;
}

Image {
    width: 60%;
    height: auto;
}

TextField {
    width: 80%;
}

.login-button,
.signup-button {
    width: 50%;
    height: 50px;
}

.login-button {
    background-color: yellowgreen;
    color: #212121;
}

.signup-button {
    color: #727272;
}